In [2]:
!pip install quandl

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting quandl
  Downloading Quandl-3.7.0-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from quandl) (1.15.0)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.8/dist-packages (from quandl) (9.0.0)
Requirement already satisfied: pandas>=0.14 in /usr/local/lib/python3.8/dist-packages (from quandl) (1.3.5)
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.8/dist-packages (from quandl) (2.25.1)
Collecting inflection>=0.3.1
  Downloading inflection-0.5.1-py2.py3-none-any.whl (9.5 kB)
Requirement already satisfied: numpy>=1.8 in /usr/local/lib/python3.8/dist-packages (from quandl) (1.22.4)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.8/dist-packages (from quandl) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.14->quandl) (2022.7.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.7.0->quandl) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.7.0->quandl) (1.24.3)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.7.0->quandl) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.7.0->quandl) (2022.12.7)
Installing collected packages: inflection, quandl
Successfully installed inflection-0.5.1 quandl-3.7.0

In [3]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import quandl

# see section on API keys at end of lecture!
quandl.ApiConfig.api_key = os.environ.get("QUANDL_AUTH", "Dn6BtVoBhzuKTuyo6hbp")
start_date = "2014-05-01"

%matplotlib inline

## Exercise 1
By referring to table found at the link above, figure out the correct argument to pass as format in order to parse the dates in the next three cells below.

Test your work by passing your format string to pd.to_datetime.

In [4]:
christmas_str2 = "2017:12:25"
christmas_strftime = "%Y:%m:%d"

pd.to_datetime(christmas_str2, format=christmas_strftime)

Timestamp('2017-12-25 00:00:00')

In [5]:
dbacks_win = "M:11 D:4 Y:2001 9:15 PM"
dbacks_win_strftime = "M:%m D:%d Y:%Y %I:%M %p"
pd.to_datetime(dbacks_win, format=dbacks_win_strftime)

Timestamp('2001-11-04 21:15:00')

In [6]:
america_bday = "America was born on July 4, 1776"
christmas_strftime = " %B %d, %Y"

pd.to_datetime(america_bday.split("on")[1], format=christmas_strftime)

Timestamp('1776-07-04 00:00:00')

## Exercise 2
Use pd.to_datetime to express the birthday of one of your friends or family members as a datetime object.

Then use the strftime method to write a message of the format:

In [7]:
#NAME's birthday is June 10, 1989 (a Saturday)

In [8]:
birthday_str = "10-19-2000"
birthday_strftime = "%m-%d-%Y"
birthday = pd.to_datetime(birthday_str, format=birthday_strftime)
birthday.strftime("Fernando's birthday is %A %B, %d (a %A)")

"Fernando's birthday is Thursday October, 19 (a Thursday)"

## Exercise 3
For each item in the list, extract the specified data from btc_usd:

* July 2017 through August 2017 (inclusive)

* April 25, 2015 to June 10, 2016

* October 31, 2017

In [10]:
btc_usd = quandl.get("BCHARTS/BITSTAMPUSD", start_date=start_date)
btc_usd.info()
btc_usd.head()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2599 entries, 2014-05-01 to 2021-06-20
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Open               2599 non-null   float64
 1   High               2599 non-null   float64
 2   Low                2599 non-null   float64
 3   Close              2599 non-null   float64
 4   Volume (BTC)       2599 non-null   float64
 5   Volume (Currency)  2599 non-null   float64
 6   Weighted Price     2599 non-null   float64
dtypes: float64(7)
memory usage: 162.4 KB

,Open,High,Low,Close,Volume (BTC),Volume (Currency),Weighted Price
Date,,,,,,,
2014-05-01,449.00,465.88,447.97,460.97,9556.037886,4.381969e+06,458.554960
2014-05-02,460.97,462.99,444.51,454.50,8269.891417,3.731061e+06,451.162018
2014-05-03,452.00,454.50,431.00,439.00,7431.626480,3.271086e+06,440.157544
2014-05-04,439.00,442.83,429.55,438.04,5154.407794,2.245293e+06,435.606483
2014-05-05,435.88,445.00,425.00,433.00,8188.082795,3.547855e+06,433.294968

In [11]:
print(btc_usd.loc["July 2017":"August 2017"])

               Open     High      Low    Close  Volume (BTC)  \
Date
2017-07-01  2465.48  2517.11  2390.00  2412.41   8885.893497
2017-07-02  2421.30  2528.72  2374.34  2504.37   8744.534411
2017-07-03  2504.81  2595.00  2472.68  2550.47  11520.707308
2017-07-04  2540.07  2639.47  2540.07  2596.12   9662.759414
2017-07-05  2594.52  2623.00  2530.10  2602.90  10882.839011
...             ...      ...      ...      ...           ...
2017-08-27  4333.38  4393.30  4290.32  4337.68   3979.124453
2017-08-28  4329.91  4399.72  4169.01  4379.99   8641.002446
2017-08-29  4385.00  4649.78  4336.26  4578.82  11879.642831
2017-08-30  4578.82  4642.22  4479.00  4573.20   8720.035040
2017-08-31  4573.15  4765.21  4566.66  4734.26   8911.412459

            Volume (Currency)  Weighted Price
Date
2017-07-01       2.175049e+07     2447.755113
2017-07-02       2.138627e+07     2445.673226
2017-07-03       2.921371e+07     2535.756265
2017-07-04       2.510748e+07     2598.376075
2017-07-05       2.795034e+07     2568.295339
...                       ...             ...
2017-08-27       1.726397e+07     4338.634650
2017-08-28       3.707720e+07     4290.845145
2017-08-29       5.349117e+07     4502.758977
2017-08-30       3.980054e+07     4564.263673
2017-08-31       4.172621e+07     4682.334106

[62 rows x 7 columns]

In [12]:
print(btc_usd.loc["April 25, 2015":"June 9 2016"])

              Open    High     Low   Close  Volume (BTC)  Volume (Currency)  \
Date
2015-04-25  231.04  232.29  225.70  226.12   5286.098594       1.206595e+06
2015-04-26  226.12  227.26  214.98  219.52  11238.356288       2.465554e+06
2015-04-27  219.52  229.93  217.52  227.23  13816.491481       3.078036e+06
2015-04-28  227.17  227.56  221.45  225.16   9345.783207       2.100834e+06
2015-04-29  225.18  226.99  221.81  225.48   8668.360650       1.948799e+06
...            ...     ...     ...     ...           ...                ...
2016-06-05  573.50  582.00  566.00  573.91   5415.934694       3.104174e+06
2016-06-06  573.80  586.02  573.80  584.50   4465.516121       2.599633e+06
2016-06-07  584.12  594.44  563.00  577.54   6705.918304       3.889184e+06
2016-06-08  577.48  584.25  571.86  583.03   3259.151105       1.885761e+06
2016-06-09  583.01  583.10  572.97  575.01   3770.718262       2.173852e+06

            Weighted Price
Date
2015-04-25      228.258103
2015-04-26      219.387440
2015-04-27      222.779892
2015-04-28      224.789478
2015-04-29      224.817524
...                    ...
2016-06-05      573.155752
2016-06-06      582.157234
2016-06-07      579.962868
2016-06-08      578.604855
2016-06-09      576.508797

[412 rows x 7 columns]

In [13]:
print(btc_usd.loc["October 31, 2017"])

Open                 6.120000e+03
High                 6.449780e+03
Low                  6.072810e+03
Close                6.434210e+03
Volume (BTC)         1.342331e+04
Volume (Currency)    8.435448e+07
Weighted Price       6.284179e+03
Name: 2017-10-31 00:00:00, dtype: float64

## Exercise 4
Using the shift function, determine the week with the largest percent change in the volume of trades (the "Volume (BTC)" column).

Repeat the analysis at the bi-weekly and monthly frequencies.

In [14]:
# Convert the index to datetime format
btc_usd.index = pd.to_datetime(btc_usd.index)

# Calculate the percent change in volume compared to the previous day
btc_usd['Volume (BTC) pct change'] = btc_usd['Volume (BTC)'].pct_change()

# Determine the week with the largest percent change in volume
btc_usd['Volume (BTC) pct change weekly'] = btc_usd['Volume (BTC) pct change'].shift(7)
max_week = btc_usd['Volume (BTC) pct change weekly'].idxmax()

# Determine the bi-week with the largest percent change in volume
btc_usd['Volume (BTC) pct change bi-weekly'] = btc_usd['Volume (BTC) pct change'].shift(14)
max_biweek = btc_usd['Volume (BTC) pct change bi-weekly'].idxmax()

# Determine the month with the largest percent change in volume
btc_usd['Volume (BTC) pct change monthly'] = btc_usd['Volume (BTC) pct change'].shift(30)
max_month = btc_usd['Volume (BTC) pct change monthly'].idxmax()

print(f"Max weekly percent change: {max_week}")
print(f"Max bi-weekly percent change: {max_biweek}")
print(f"Max monthly percent change: {max_month}")

Max weekly percent change: 2015-01-16 00:00:00
Max bi-weekly percent change: 2015-01-23 00:00:00
Max monthly percent change: 2015-02-08 00:00:00

In [ ]:
btc_usd.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2599 entries, 2014-05-01 to 2021-06-20
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Open                               2599 non-null   float64
 1   High                               2599 non-null   float64
 2   Low                                2599 non-null   float64
 3   Close                              2599 non-null   float64
 4   Volume (BTC)                       2599 non-null   float64
 5   Volume (Currency)                  2599 non-null   float64
 6   Weighted Price                     2599 non-null   float64
 7   Volume (BTC) pct change            2596 non-null   float64
 8   Volume (BTC) pct change weekly     2589 non-null   float64
 9   Volume (BTC) pct change bi-weekly  2582 non-null   float64
 10  Volume (BTC) pct change monthly    2566 non-null   float64
dtypes: float64(11)
memory usage: 308.2 KB

## Exercise 5
Imagine that you have access to the DeLorean time machine from “Back to the Future”.

You are allowed to use the DeLorean only once, subject to the following conditions:

You may travel back to any day in the past.

On that day, you may purchase one bitcoin at market open.

You can then take the time machine 30 days into the future and sell your bitcoin at market close.

Then you return to the present, pocketing the profits.

How would you pick the day?

Think carefully about what you would need to compute to make the optimal choice. Try writing it out in the markdown cell below so you have a clear description of the want operator that we will apply after the exercise.

(Note: Don’t look too far below, because in the next non-empty cell we have written out our answer.)

To make this decision, we want to know …

magine that you have access to the DeLorean time machine from “Back to the Future”.

You are allowed to use the DeLorean only once, subject to the following conditions:

You may travel back to any day in the past.

On that day, you may purchase one bitcoin at market open.

You can then take the time machine 30 days into the future and sell your bitcoin at market close.

Then you return to the present, pocketing the profits.

How would you pick the day?

Think carefully about what you would need to compute to make the optimal choice. Try writing it out in the markdown cell below so you have a clear description of the want operator that we will apply after the exercise.

(Note: Don’t look too far below, because in the next non-empty cell we have written out our answer.)

To make this decision, we want to know …

### Answer:
To make the optimal decision, we would want to know the historical daily price data for Bitcoin, so we can identify the day with the lowest opening price within our desired date range.

Once we have identified the day with the lowest opening price, we would want to calculate the highest closing price for the following 30 days.

We can then subtract the initial purchase price from the final selling price to calculate the profit that we would make.

Finally, we would want to compare the potential profits for each day within our desired date range, and select the day with the highest potential profit as the optimal day to travel back to and purchase Bitcoin.

In [22]:
btc_usd['Open'].min()

0.0

## Exercise 6
Do the following:

Write a pandas function that implements your strategy.

Pass it to the agg method of rolling_btc.

Extract the "Open" column from the result.

Find the date associated with the maximum value in that column.

How much money did you make? Compare with your neighbor.

In [65]:
def daily_value(df):

    return df.max() - df.min()

In [66]:
rolling_btc = btc_usd.rolling("30d").agg({'Open':'min','Close':'max'})
print('Passing function to agg method\n',
      rolling_btc.apply(daily_value))

rolling_btc_open = rolling_btc['Open']
print('Extracting Open column from result\n',
      rolling_btc_open)

print('Date associated with max value in open column\n',
      rolling_btc_open.idxmax())

Passing function to agg method
 Open     51292.65
Close    63325.26
dtype: float64
Extracting Open column from result
 Date
2014-05-01      449.00
2014-05-02      449.00
2014-05-03      449.00
2014-05-04      439.00
2014-05-05      435.88
                ...
2021-06-16    33413.19
2021-06-17    33413.19
2021-06-18    33413.19
2021-06-19    33413.19
2021-06-20    33413.19
Name: Open, Length: 2599, dtype: float64
Date associated with max value in open column
 2021-04-07 00:00:00

## Exercise 7
Now suppose you still have access to the DeLorean, but the conditions are slightly different.

You may now:

Travel back to the first day of any month in the past.

On that day, you may purchase one bitcoin at market open.

You can then travel to any day in that month and sell the bitcoin at market close.

Then return to the present, pocketing the profits.

To which month would you travel? On which day of that month would you return to sell the bitcoin?

Discuss with your neighbor what you would need to compute to make the optimal choice. Try writing it out in the markdown cell below so you have a clear description of the want operator that we will apply after the exercise.

(Note: Don’t look too many cells below, because we have written out our answer.)

To make the optimal decision we need …

### Answer:
To make the optimal decision, we would want to know the historical daily price data for Bitcoin, so we can identify the month with the lowest opening price.

Once we have identified the month with the lowest opening price, we would want to calculate the highest closing price for that month.

We can then subtract the initial purchase price from the final selling price to calculate the profit that we would make.

Finally, we would want to compare the potential profits for each month, and select the month with the highest potential profit as the optimal month to travel back to and purchase Bitcoin.

## Exercise 8
Do the following:

Write a pandas function that implements your strategy.

Pass it to the agg method of resampled_btc.

Extract the "Open" column from the result.

Find the date associated with the maximum value in that column.

How much money did you make? Compare with your neighbor.

Was this strategy more profitable than the previous one? By how much?

In [67]:
def monthly_value(df):

    return df.max() - df.min()

new_btc_usd = btc_usd.reset_index()
min_btc = new_btc_usd.loc[new_btc_usd["Date"].dt.day == 1,:]
min_btc_resampled = min_btc.resample('MS',on = 'Date').agg({'Open':'min'})
resampled_btc = btc_usd.resample('MS').agg({'Open':'min','Close':'max'})
resampled_btc['Open'] = min_btc_resampled['Open'].values
resampled_btc.apply(monthly_value)
print('Passing function to agg method\n',
      resampled_btc.apply(daily_value))
resampled_btc_open = resampled_btc['Open']
print('Exctracting Open column from result\n',
      resampled_btc_open)
resampled_btc_open.index = pd.to_datetime(resampled_btc_open.index)

print('Data Associated with max value in open column\n',
      resampled_btc_open.idxmax())

Passing function to agg method
 Open     58571.92
Close    63321.28
dtype: float64
Exctracting Open column from result
 Date
2014-05-01      449.00
2014-06-01      627.80
2014-07-01      640.00
2014-08-01      583.54
2014-09-01      479.01
                ...
2021-02-01    33110.32
2021-03-01    45261.56
2021-04-01    58789.96
2021-05-01    57790.66
2021-06-01    37279.89
Freq: MS, Name: Open, Length: 86, dtype: float64
Data Associated with max value in open column
 2021-04-01 00:00:00